@charset "UTF-8";
/*    Обнуление   */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webcit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjyst: 100;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*    */
body {
  font-family: Lato;
}

.background {
  max-width: 843px;
  margin: 0 auto;
}

.slider {
  background: url("../img/icons/bg_header_743.png") 0 0 no-repeat;
  width: 1920px;
  height: 1080px;
}

.loyer {
  top: 160px;
  left: 45%;
  width: 195px;
  height: 120px;
  position: relative;
  margin: 0px 0px 315px 0px;
}

.text {
  text-align: center;
  letter-spacing: 0.16em;
  color: #ffffff;
}

.text:after {
  content: '';
  position: absolute;
  width: 105px;
  bottom: 5;
  height: 2px;
  left: 50%;
  background-color: #ffffff;
  margin: 48px 0px 0px 500px;
}

.textH2 {
  /* Text styles for "Clear, smart, attractive design '" */
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.textFor {
  /* Text styles for "for your app, logo, website"*/
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}

.button {
  height: 250px;
}

.button-read {
  font-size: 16px;
  text-transform: uppercase;
  margin: 282px 46%;
  line-height: 27px;
  letter-spacing: 0.06em;
  text-align: center;
  display: inline-block;
  width: 182px;
  height: 47px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  text-decoration: none;
}

.arrow-down {
  padding: 155px 0px 0px 50%;
}
